p {
    text-align: center;
    color: red;
  }

  p:hover {
    transform: rotateZ(20deg);
  }

#ianbruce1 {
    animation-name: imgexample;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#guv {
    animation-name: imgexample;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

  /* The animation code */
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }

    /* The animation code */
@keyframes imgexample {
    from {transform: rotate3d(0, 0, 0, 0deg);}
    to {transform: rotate3d(150, 150, 150, 150deg);}
  }


